.sidebar{
    flex: 3;
    height: calc(100vh - 45px);
    overflow-y: scroll;
}
.sidebarWrapper{
    padding: 20px;
}

.sidebarList{
    margin: 0;
    padding: 0;
}

.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarListItemIcon{
    margin-right: 10px;
}

.sidebarButton{
    width: 150px;
    padding: 10px 0px;
    border: none;
}
.sidebarHr{
    margin: 20px 0px;
}

.sidebarFriendList{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebarFriendItem{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebarFriendIcon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}